@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #EFF6FF;
    font-family: 'Montserrat', sans-serif;
}

.popins-font {
    font-family: 'Poppins', sans-serif;
}

.inter-font {
    font-family: 'Inter', sans-serif;
}

* {
    transition: all;
    transition-duration: 1.5;
}